<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.js Registration Validation </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <div id="app" class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Hello {{fullname}}</h1>
          <ul class="text-left">
            <li>First Name: {{first}}</li>
            <li>Last Name: {{last}}</li>
          </ul>
            <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Full Name:</label>
          <input type="text" class="form-control" v-model="fullname"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>First Name:</label>
            <input type="text" class="form-control" v-model="first"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Last Name:</label>
            <input type="text" class="form-control" v-model="last" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Password: <span class="text-danger" v-show="message">{{notification_msg}}</label>
            <input type="password" class="form-control" v-model="password"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Confirm Password: <span class="text-danger" v-show="confirm_message">{{confirm_notification}}</span></label>
            <input type="password" class="form-control" v-model="confirm_password" />
          </div>
        </div>
        <button type="submit" class="btn btn-default" v-bind:disabled="btn_disable()">Register</button>
      </div>
    </div>
  </body>

  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        first: '',
        last: '',
        password: '',
        confirm_password: '',
        message: false,
        notification_msg: '',
        fullname : '',
        confirm_message:true,
        confirm_notification: ''
      },
      watch:{
        password:function(){
          if(this.password.length < 6)
          {
            this.notification_msg= 'Enter minimum of 6 characters',
            this.message = true
            this.btn_disable(true)
          }
          else
          {
            this.message = false
           this.btn_disable(false)
          }
        },
        confirm_password: function(){
          if (this.password != this.confirm_password){
            this.confirm_notification= 'Enter Correct Password'
            this.confirm_message = true
            this.btn_disable(true)
          }
          else
          {
            this.confirm_message = false
           this.btn_disable(false)
          }
        }
      },
      methods: {
        btn_disable: function(value)
        {
          return value
        }
      }
    })
  </script>
</html>
